# la plantilla que dice que variables se necesita configurar,sin revelar los valores reales 

PORT= 

# variables de entorno para la base de datos - docker-compose
POSTGRES_URL=#La URL se utiliza para Prisma y para la conexión a la base de datos PostgreSQL. Debe tener el siguiente formato: postgresql://usuario:contraseña@host:puerto/nombre_bd
POSTGRES_USER=#El nombre de usuario para la base de datos PostgreSQL
POSTGRES_PASSWORD=#La contraseña para la base de datos PostgreSQL
POSTGRES_DB=#El nombre de la base de datos PostgreSQL



# Variables de entorno para JWT
JWT_SECRET=
JWT_EXPIRES_IN=